* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap");

/* ############# All Section #############  */
/*	
	- Variables CSS Section
  

*/

/* Variables CSS Section */
:root {
  --header-heifht: 3rem;

  /* Color Section */
  --hue-color: 179;
  /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL Color mode */
  /* https://www.w3schools.com/colors/colors_hsl.asp */
  --main-color: hsl(var(--hue-color), 52%, 41%);
  --main-color-second: hsl(var(--hue-color), 49%, 39%);
  --main-color-alt: hsl(var(--hue-color), 40%, 33%);
  --main-color-lighter: hsl(var(--hue-color), 75%, 65%);
  --c1-color: #ddd;
  --c2-color: #666;

  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  --progress-color: hsl(var(--hue-color), 56%, 29%);

  /* Font and typeography */
  --body-font: "Fredoka", sans-serif;
  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margenes Bottom */
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: var(--c2-color);
  color: var(--body-color);
}
.u-name {
  font-size: 20px;
  padding-left: 17px;
}
.u-name b {
  color: var(--main-color-second);
}
.header i {
  font-size: 30px;
  cursor: pointer;
  color: var(--body-color);
}
.header i:hover {
  color: var(--main-color-second);
}
.user-p {
  text-align: center;
  padding-left: 10px;
  padding-top: 25px;
}
.user-p img {
  width: 100px;
  border-radius: 50%;
}
.user-p h4 {
  color: var(--c1-color);
  padding: 5px 0;
}
.side-bar {
  width: 250px;
  background: var(--c2-color);
  min-height: 100vh;
  transition: 500ms width;
}
.body {
  display: flex;
}
.section {
  width: 100%;
  background: url("../assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section h1 {
  color: var(--body-color);
  font-size: 60px;
}
.section p {
  color: var(--main-color-second);
  font-size: 20px;
  background: var(--body-color);
  padding: 7px;
  border-radius: 5px;
}
.side-bar ul {
  margin-top: 20px;
  list-style: none;
}

.side-bar ul li {
  font-size: 16px;
  padding: 15px 0px;
  padding-left: 20px;
  transition: 500ms background;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-bar ul li:hover {
  background: var(--main-color-second);
}
.side-bar ul li a, .Link {
  text-decoration: none;
  color: var(--c1-color);
  cursor: pointer;
  letter-spacing: 1px;
}
.side-bar ul li a i {
  display: inline-block;
  padding-right: 10px;
  font-size: 23px;
}
#navbtn {
  display: inline-block;
  margin-left: 70px;
  font-size: 20px;
  transition: 500ms color;
}
#bar {
  display: none;
}
#bar:checked ~ .body .side-bar {
  width: 60px;
}
#bar:checked ~ .body .side-bar .user-p {
  visibility: hidden;
}
#bar:checked ~ .body .side-bar a span {
  display: none;
}
